api/constants/Web3 Glossary.yml
app:
  description: An intelligent terminology assistant designed to decode Web3 jargon
    in real-time.
  icon: 📂
  icon_background: '#E0F2FE'
  mode: advanced-chat
  name: Web3 Glossary
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1739775191885-source-1711528919501-target
      source: '1739775191885'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528915811-source-1739775191885-target
      source: '1711528915811'
      sourceHandle: source
      target: '1739775191885'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1739775427443-source-1739775191885-target
      source: '1739775427443'
      sourceHandle: source
      target: '1739775191885'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1711528914102-source-1739779450536-target
      source: '1711528914102'
      sourceHandle: source
      target: '1739779450536'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1739779450536-source-1711528915811-target
      source: '1739779450536'
      sourceHandle: source
      target: '1711528915811'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: tool
      id: 1739779450536-source-1739775427443-target
      source: '1739779450536'
      sourceHandle: source
      target: '1739775427443'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: parameter-extractor
      id: 1711528914102-source-1739779726128-target
      source: '1711528914102'
      sourceHandle: source
      target: '1739779726128'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: llm
      id: 1739779726128-source-1739775191885-target
      source: '1739779726128'
      sourceHandle: source
      target: '1739775191885'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1711528914102'
      position:
        x: -375.7142857142857
        y: 344.57142857142856
      positionAbsolute:
        x: -375.7142857142857
        y: 344.57142857142856
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - f6fe350d-50c7-4be6-a8f4-00b65b8724f5
        desc: This feature allows you to search the knowledge base for text content
          related to the user's question.
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: ''
            provider: ''
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.5
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: openai
              vector_weight: 0.5
        query_variable_selector:
        - '1739779450536'
        - text
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Search
        type: knowledge-retrieval
      dragging: false
      height: 152
      id: '1711528915811'
      position:
        x: 496.57142857142856
        y: 296
      positionAbsolute:
        x: 496.57142857142856
        y: 296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1739775191885.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: '1711528919501'
      position:
        x: 1246
        y: 276
      positionAbsolute:
        x: 1246
        y: 276
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528915811'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-3.5-turbo
          provider: openai
        prompt_template:
        - id: de447275-3d92-4d0a-9dab-7ff1540671ca
          role: system
          text: 'You are a web3 professional that know the whole history of Web3.
            You gonna explain user''s web3 glossary with intuitive and humorous way
            that people with minimum knowledge of web3 can understand.  the output
            prefer to be{{#1739779726128.languge#}}

            <Context>

            {{#context#}}

            <Search>

            {{#1739775427443.text#}}'
        - id: 53ecacf2-3875-4792-ab3d-3f65a0ddb3d3
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM Aggregator
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1739775191885'
      position:
        x: 942
        y: 276
      positionAbsolute:
        x: 942
        y: 276
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: duckduckgo
        provider_name: duckduckgo
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        title: DuckDuckGo Search
        tool_configurations:
          max_results: 5
          query_prefix: ''
          require_summary: 0
        tool_label: DuckDuckGo Search
        tool_name: ddgo_search
        tool_parameters:
          query:
            type: mixed
            value: what is {{#1739779450536.text#}}
        type: tool
      height: 142
      id: '1739775427443'
      position:
        x: 467.9999999999999
        y: 499.42857142857144
      positionAbsolute:
        x: 467.9999999999999
        y: 499.42857142857144
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-3.5-turbo
          provider: openai
        prompt_template:
        - id: 40d807ed-9c6f-4caf-a510-861baae79772
          role: system
          text: translate users query into English
        - id: c15ba0d2-9b32-4d4e-8e05-4a7d1950eb43
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: Query Translator
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1739779450536'
      position:
        x: 46.57142857142844
        y: 359.6428571428571
      positionAbsolute:
        x: 46.57142857142844
        y: 359.6428571428571
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: extract the language of the input {{#sys.query#}}
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-3.5-turbo
          provider: openai
        parameters:
        - description: the language used in input string
          name: languge
          required: true
          type: string
        query:
        - sys
        - query
        reasoning_mode: prompt
        selected: false
        title: Parameter Extractor
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1739779726128'
      position:
        x: 73.71428571428591
        y: 183.92857142857144
      positionAbsolute:
        x: 73.71428571428591
        y: 183.92857142857144
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -391.03854952637994
      y: 216.77841741967146
      zoom: 0.692279641466652
