api/constants/Web3 White Paper Translation.yml
app:
  description: Translate the white paper of any project to understand it's core value.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 'Web3 White Paper Translation '
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1711067409646-source-1717916867969-target
      source: '1711067409646'
      sourceHandle: source
      target: '1717916867969'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1717916867969-source-1717916955547-target
      source: '1717916867969'
      sourceHandle: source
      target: '1717916955547'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1717916955547'
        sourceType: llm
        targetType: llm
      id: 1717916961837-source-1717916977413-target
      source: '1717916961837'
      sourceHandle: source
      target: '1717916977413'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1717916955547'
        sourceType: llm
        targetType: llm
      id: 1717916977413-source-1717916984996-target
      source: '1717916977413'
      sourceHandle: source
      target: '1717916984996'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1717916955547'
        sourceType: llm
        targetType: llm
      id: 1717916984996-source-1717916991709-target
      source: '1717916984996'
      sourceHandle: source
      target: '1717916991709'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: template-transform
      id: 1717916955547-source-1717917057450-target
      source: '1717916955547'
      sourceHandle: source
      target: '1717917057450'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: end
      id: 1717917057450-source-1711068257370-target
      source: '1717917057450'
      sourceHandle: source
      target: '1711068257370'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1717916955547'
        sourceType: iteration-start
        targetType: llm
      id: 1717916955547start0-source-1717916961837-target
      source: 1717916955547start0
      sourceHandle: source
      target: '1717916961837'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Input Text
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: input_text
        - label: Target Language
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: target_language
      dragging: false
      height: 116
      id: '1711067409646'
      position:
        x: 30.890196523844622
        y: 301.5
      positionAbsolute:
        x: 30.890196523844622
        y: 301.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1717917057450'
          - output
          variable: final
        selected: false
        title: End
        type: end
      height: 90
      id: '1711068257370'
      position:
        x: 2291
        y: 301.5
      positionAbsolute:
        x: 2291
        y: 301.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(input_text: str) -> str:\n    token_limit = 1000\n    overlap\
          \ = 100\n    chunk_size = int(token_limit * 6 * (4/3))\n\n        # Initialize\
          \ variables\n    chunks = []\n    start_index = 0\n    text_length = len(input_text)\n\
          \n    # Loop until the end of the text is reached\n    while start_index\
          \ < text_length:\n        # If we are not at the beginning, adjust the start_index\
          \ to ensure overlap\n        if start_index > 0:\n            start_index\
          \ -= overlap\n\n        # Calculate end index for the current chunk\n  \
          \      end_index = start_index + chunk_size\n        if end_index > text_length:\n\
          \            end_index = text_length\n\n        # Add the current chunk\
          \ to the list\n        chunks.append(input_text[start_index:end_index])\n\
          \n        # Update the start_index for the next chunk\n        start_index\
          \ += chunk_size\n\n    return {\n        \"chunks\": chunks,\n    }\n"
        code_language: python3
        dependencies: []
        desc: 'token_limit = 1000

          overlap = 100'
        outputs:
          chunks:
            children: null
            type: array[string]
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1711067409646'
          - input_text
          variable: input_text
      height: 98
      id: '1717916867969'
      position:
        x: 336
        y: 301.5
      positionAbsolute:
        x: 336
        y: 301.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Take good care on maximum number of iterations.  '
        error_handle_mode: terminated
        height: 203
        is_parallel: false
        iterator_selector:
        - '1717916867969'
        - chunks
        output_selector:
        - '1717916991709'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        startNodeType: llm
        start_node_id: 1717916955547start0
        title: Iteration
        type: iteration
        width: 1289
      height: 203
      id: '1717916955547'
      position:
        x: 636.5234557794086
        y: 301.5
      positionAbsolute:
        x: 636.5234557794086
        y: 301.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1289
      zIndex: 1
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        isIterationStart: true
        iteration_id: '1717916955547'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-3.5-turbo
          provider: openai
        prompt_template:
        - id: 7261280b-cb27-4f84-8363-b93e09246d16
          role: system
          text: "<Task> Identify the technical terms in the users input. Use the following\
            \ format {XXX} -> {XXX} to show the corresponding technical terms before\
            \ and after translation. \n\n<Input Text> \n{{#1717916955547.item#}}\n\
            <Target Language>\n{{#1711067409646.target_language#}}\n<Example>\n| English\
            \ | French |\n| --- | --- |\n| Prompt Engineering | Ingénierie de Prompts |\n| Text Generation\
            \  | Génération de Texte |\n| Token  | Jeton |\n| Prompt  | Prompt |\n| Meta Prompting  |\
            \ Méta-Prompting |\n| diffusion models  | modèles de diffusion |\n| Agent  | Agent |\n| Transformer\
            \  | Transformer |\n| Zero Shot  | Zéro-shot |\n| Few Shot  | Few-shot |\n| chat\
            \ window  | fenêtre de discussion |\n| context | contexte |\n| stock photo  | photo de stock |\n\n\n<Technical\
            \ Terms> "
        selected: false
        title: 'Identify Terms '
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: false
      extent: parent
      height: 98
      id: '1717916961837'
      parentId: '1717916955547'
      position:
        x: 86.79107401795841
        y: 65
      positionAbsolute:
        x: 723.314529797367
        y: 366.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1001
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1717916955547'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-3.5-turbo
          provider: openai
        prompt_template:
        - id: 05e03f0d-c1a9-43ab-b4c0-44b55049434d
          role: system
          text: "<Task> You are a professional translator proficient in {{#1711067409646.target_language#}}\
            \ especially skilled in translating professional academic papers into\
            \ easy-to-understand popular science articles. Please help me translate\
            \ the following english paragraph into {{#1711067409646.target_language#}},\
            \ in a style similar to {{#1711067409646.target_language#}} popular science\
            \ articles .\n<Constraints> \nTranslate directly based on the English\
            \ content, maintain the original format and do not omit any information.\
            \ \n<Before Translation> \n{{#1717916955547.item#}}\n<Terms>\n{{#1717916961837.text#}}\n\
            <Direct Translation> "
        selected: false
        title: 1st Translation
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: false
      extent: parent
      height: 98
      id: '1717916977413'
      parentId: '1717916955547'
      position:
        x: 421
        y: 84.10980347615538
      positionAbsolute:
        x: 1057.5234557794086
        y: 385.6098034761554
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1717916955547'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-3.5-turbo
          provider: openai
        prompt_template:
        - id: 9e6cc050-465e-4632-abc9-411acb255a95
          role: system
          text: "<Task>\nBased on the results of the direct translation, point out\
            \ specific issues it have. Accurate descriptions are required, avoiding\
            \ vague statements, and there's no need to add content or formats that\
            \ were not present in the original text, including but not limited to:\
            \ \n- inconsistent with {{#1711067409646.target_language#}} expression\
            \ habits, clearly indicate where it does not conform\n- Clumsy sentences,\
            \ specify the location, no need to offer suggestions for modification,\
            \ which will be fixed during free translation\n- Obscure and difficult\
            \ to understand, attempts to explain may be made\n- No omissions (key\
            \ words, sentences, and paragraphs in the original text should be reflected\
            \ in the translation).  \n- No mistranslations (misreading the original\
            \ text or misunderstanding its meaning both count as mistranslations).\
            \  \n- No intentional addition or omission of content from the original\
            \ text (translation is not creation, and respect for the author's viewpoint\
            \ is required; translator's notes may be added where appropriate).  \n\
            - The translation should be fluent and conform to {{{#1711067409646.target_language#}}\
            \ expression habits.  \n- Regarding the translation of names. Names in\
            \ technical books are usually not translated, but well-known names should\
            \ be translated into {{#1711067409646.target_language#}} (e.g., 'Christopher Columbus' as 'Christophe Colomb' in French).\
            \  \n- Regarding the translation of titles. For books with {{#1711067409646.target_language#}}\
            \ editions, use the {{#1711067409646.target_language#}} title; for books\
            \ without {{#1711067409646.target_language#}} editions, use the English\
            \ title directly.  \n- Regarding the translation of tables and figures.\
            \ Table titles, captions, and annotations in tables should all be translated.\
            \ Figure titles should be translated. Screenshots of interfaces do not\
            \ require translation of captions. Explanatory figures should provide\
            \ translations of captions in a bilingual format.  \n-\
            \ Regarding the expression of English terminology. When an English term\
            \ first appears, prioritize using its abbreviated form, followed by the\
            \ English and {{#1711067409646.target_language#}} full names in parentheses,\
            \ e.g., HTML (Hypertext Markup Language, hypertext markup language). Subsequently,\
            \ use the abbreviated form directly in the text. Of course, the full English\
            \ or {{#1711067409646.target_language#}} term may also be used where necessary\
            \ based on context.  \n- Regarding code listings and snippets. The original\
            \ book's program code does not require the translator to input it, but\
            \ it should be labeled in the format of \"Code 1 on P99 of the original\
            \ book\" (i.e., the first code snippet on page 99 of the original book).\
            \ Additionally, translators should verify the correctness of the code\
            \ when possible and provide explanations in the form of translator's notes\
            \ for any errors found. Comments in the program code should be translated.\
            \ If the translation does not include the code, comments should be given\
            \ in a bilingual format of one English (comment) followed by one {{#1711067409646.target_language#}}\
            \ (comment).  \n- Regarding punctuation. Punctuation in the translation\
            \ should follow {{#1711067409646.target_language#}} expression habits\
            \ and the rules of {{#1711067409646.target_language#}} punctuation, and\
            \ should not simply copy the punctuation from the original text.\n\n<Direct\
            \ Translation>\n{{#1717916977413.text#}}\n<Original Text>\n{{#1717916955547.item#}}\n\
            <Terms>\n{{#1717916961837.text#}}\n<Problems with the Direct Translation>"
        selected: false
        title: 'Problems '
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: false
      extent: parent
      height: 98
      id: '1717916984996'
      parentId: '1717916955547'
      position:
        x: 725.9038753734237
        y: 85
      positionAbsolute:
        x: 1362.4273311528323
        y: 386.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1717916955547'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-3.5-turbo
          provider: openai
        prompt_template:
        - id: 4d7ae758-2d7b-4404-ad9f-d6748ee64439
          role: system
          text: "<Task>\nBased on the results of the direct translation in the first\
            \ step and the problems identified in the second step, re-translate to\
            \ achieve a meaning-based interpretation. Ensure the original intent of\
            \ the content is preserved while making it easier to understand and more\
            \ in line with {{#1711067409646.target_language#}} expression habits.\
            \ All the while maintaining the original format unchanged. \n\n<Guidance>\n\
            - inconsistent with {{#1711067409646.target_language#}} expression habits,\
            \ clearly indicate where it does not conform\n- Clumsy sentences, specify\
            \ the location, no need to offer suggestions for modification, which will\
            \ be fixed during free translation\n- Obscure and difficult to understand,\
            \ attempts to explain may be made\n- No omissions (key words, sentences,\
            \ and paragraphs in the original text should be reflected in the translation).\
            \  \n- No mistranslations (misreading the original text or misunderstanding\
            \ its meaning both count as mistranslations).  \n- No intentional addition\
            \ or omission of content from the original text (translation is not creation,\
            \ and respect for the author's viewpoint is required; translator's notes\
            \ may be added where appropriate).  \n- The translation should be fluent\
            \ and conform to {{{#1711067409646.target_language#}} expression habits.\
            \  \n- Regarding the translation of names. Names in technical books are\
            \ usually not translated, but well-known names should be translated into\
            \ {{#1711067409646.target_language#}} (e.g., 'Christopher Columbus' as 'Christophe Colomb' in French).\
            \  \n- Regarding the translation of titles. For books with {{#1711067409646.target_language#}}\
            \ editions, use the {{#1711067409646.target_language#}} title; for books\
            \ without {{#1711067409646.target_language#}} editions, use the English\
            \ title directly.  \n- Regarding the translation of tables and figures.\
            \ Table titles, captions, and annotations in tables should all be translated.\
            \ Figure titles should be translated. Screenshots of interfaces do not\
            \ require translation of captions. Explanatory figures should provide\
            \ translations of captions in a bilingual format.  \n- Regarding the expression\
            \ of English terminology. When an English term first appears, prioritize\
            \ using its abbreviated form, followed by the English and {{#1711067409646.target_language#}}\
            \ full names in parentheses, e.g., HTML (Hypertext Markup Language, hypertext\
            \ markup language). Subsequently, use the abbreviated form directly in\
            \ the text. Of course, the full English or {{#1711067409646.target_language#}}\
            \ term may also be used where necessary based on context.  \n- Regarding\
            \ code listings and snippets. The original book's program code does not\
            \ require the translator to input it, but it should be labeled in the\
            \ format of \"Code 1 on P99 of the original book\" (i.e., the first code\
            \ snippet on page 99 of the original book). Additionally, translators\
            \ should verify the correctness of the code when possible and provide\
            \ explanations in the form of translator's notes for any errors found.\
            \ Comments in the program code should be translated. If the translation\
            \ does not include the code, comments should be given in a bilingual format\
            \ of one English (comment) followed by one {{#1711067409646.target_language#}}\
            \ (comment).  \n- Regarding punctuation. Punctuation in the translation\
            \ should follow {{#1711067409646.target_language#}} expression habits\
            \ and the rules of {{#1711067409646.target_language#}} punctuation, and\
            \ should not simply copy the punctuation from the original text.\n<Direct\
            \ Translation> \n{{#1717916977413.text#}}\n<problems in the first translation>\n\
            {{#1717916984996.text#}}\n<Original Text>\n{{#1711067409646.input_text#}}\n\
            <Terms>\n{{#1717916961837.text#}}\n<Free Translation> "
        selected: false
        title: '2nd Translation '
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: false
      extent: parent
      height: 98
      id: '1717916991709'
      parentId: '1717916955547'
      position:
        x: 1029
        y: 84.10980347615538
      positionAbsolute:
        x: 1665.5234557794086
        y: 385.6098034761554
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: 'Combine all chunks of translation. '
        selected: false
        template: '{{ translated_text | join('' '') }}'
        title: Template
        type: template-transform
        variables:
        - value_selector:
          - '1717916955547'
          - output
          variable: translated_text
      height: 82
      id: '1717917057450'
      position:
        x: 1987
        y: 301.5
      positionAbsolute:
        x: 1987
        y: 301.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: CAN20
        desc: ''
        height: 186
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Code
          node separates the input_text into chunks with length of token_limit. Each
          chunk overlap with each other to make sure the texts are consistent.  ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"The
          code node outputs an array of segmented texts of input_texts. ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 340
      height: 186
      id: '1718990593686'
      position:
        x: 259.3026056936437
        y: 451.6924912936374
      positionAbsolute:
        x: 259.3026056936437
        y: 451.6924912936374
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 340
    - data:
        author: CAN20
        desc: ''
        height: 128
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Iterate
          through all the elements in output of the code node and translate each chunk
          using a three steps translation workflow. ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 355
      height: 128
      id: '1718991836605'
      position:
        x: 764.3891977435923
        y: 530.8917807505335
      positionAbsolute:
        x: 764.3891977435923
        y: 530.8917807505335
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 355
    - data:
        author: CAN20
        desc: ''
        height: 126
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Avoid
          using a high token_limit, LLM''s performance decreases with longer context
          length for gpt-4o. ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Recommend
          to use less than or equal to 1000 tokens. ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: yellow
        title: ''
        type: ''
        width: 351
      height: 126
      id: '1718991882984'
      position:
        x: 304.49115824454367
        y: 148.4042994607805
      positionAbsolute:
        x: 304.49115824454367
        y: 148.4042994607805
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 351
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1717916955547start0
      parentId: '1717916955547'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 660.5234557794086
        y: 369.5
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    viewport:
      x: 181.8277670979578
      y: 178.68724463300555
      zoom: 0.7613643733535195
